.bg-green {
  background-color: var(--green);
}

.bg-light-green {
  background-color: var(--light-green);
}

.bg-red {
  background-color: var(--red);
}

.bg-light-red {
  background-color: var(--light-red);
}

.h-progress {
  height: 2rem;
}