@import "~tachyons/css/tachyons.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-blue: #1e2e3b;
  --blue: #30495f;
  --light-blue: #9dafbd;
  --light-text: #d6dbdf;
  --dark-text: #1e2e3b;
  --placeholder-text: #6c6c6c;
  --menu-highlight: #405e78;
  --green: #76b43f;
  --light-green: #a8ce87;
  --red: #b43f3f;
  --light-red: #c99898;
  --orange: #b48c3f;
}

input {
  box-sizing: content-box !important;
}

.bg-blue {
  background-color: var(--blue) !important;
}

.bg-light-blue {
  background-color: var(--light-blue) !important;
}

.bg-orange {
  background-color: var(--orange) !important;
}

.text-light {
  color: var(--light-text) !important;
}

.text-dark {
  color: var(--dark-text) !important;
}

.bg-green {
  background-color: var(--green) !important;
}

.bg-light-green {
  background-color: var(--light-green) !important;
}

.bg-red {
  background-color: var(--red) !important;
}

.bg-light-red {
  background-color: var(--light-red) !important;
}

.bg-orange {
  background-color: var(--orange) !important;
}